<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptions</key>
	<array>
		<string>bags of chow</string>
		<string>bones</string>
		<string>squeaky toys</string>
		<string>treats</string>
		<string>balls</string>
	</array>
	<key>imageNames</key>
	<array>
		<string>chow.png</string>
		<string>bone.png</string>
		<string>squeakytoy.png</string>
		<string>treat.png</string>
		<string>ball.png</string>
	</array>
	<key>prices</key>
	<array>
		<integer>15</integer>
		<integer>20</integer>
		<integer>25</integer>
		<integer>30</integer>
		<integer>50</integer>
	</array>
	<key>amounts</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
</dict>
</plist>
