<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>health</key>
	<integer>80</integer>
	<key>energy</key>
	<integer>80</integer>
	<key>happiness</key>
	<integer>80</integer>
	<key>points</key>
	<integer>100</integer>
	<key>petState</key>
	<string>awake</string>
	<key>angry</key>
	<integer>0</integer>
	<key>lastViewTime</key>
	<integer>0</integer>
	<key>lastViewName</key>
	<string>none</string>
</dict>
</plist>
